{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link href="{% static 'custom.css' %}" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
  <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

  <title>School Store</title>
</head>
{% if user.is_authenticated %}
<body  style="background-image: url('https://th.bing.com/th/id/R.ac6c5870e3986779b20b6d3c18f110a5?rik=yve3yctadNUxPw&riu=http%3a%2f%2fcronkitenews.asu.edu%2fassets%2fimages%2f14%2f08%2f01-shop-shelves-full.jpg&ehk=WfC7CHBiN2ROlqvpbqTtPFAvMD8ZngiNqiekm6Cypeo%3d&risl=&pid=ImgRaw&r=0');background-size:100% 100%;background-repeat:no-repeat;">
{% else %}
{% endif %}


<div class="sticky-top">
  <nav class="navbar navbar-expand navbar-dark bg-dark shadow">
    <div class="container-fluid ">

      <div class="collapse navbar-collapse" id="navbarScroll">
        <h class="nav-link" style="color:white;font-size:18px" aria-current="page" href=""><b>School<h style="color:red">Store</h></b></h>

        <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll"></ul>

    <div class="d-flex">
        <div style="padding:2px;">
                <a class="nav-link" href="{% url 'Store:store' %}">Home</a>
        </div>
    </div>

        <div class="d-flex">
          <div class="dropdown">
            <a class="nav-link dropdown-toggle active" href="" id="navbarScrollingDropdown"
               role="button" data-bs-toggle="dropdown" aria-expanded="false">Department</a>


            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarScrollingDropdown">
              <li><a class="dropdown-item" href="https://en.wikipedia.org/wiki/Science">Science</a></li>
              <li><a class="dropdown-item" href="https://en.wikipedia.org/wiki/Commerce">Commerce</a></li>
              <li><a class="dropdown-item" href="https://en.wikipedia.org/wiki/Humanities">Humanities</a></li>
              <li><a class="dropdown-item" href="https://en.wikipedia.org/wiki/Computer_science">Computer Science</a></li>
              <li><a class="dropdown-item" href="https://en.wikipedia.org/wiki/Physical_education">Physical Education</a></li>
            </ul>

          </div>


          <div class="dropdown" style="margin:auto;">
            <a
                    class="dropdown-toggle d-flex align-items-center hidden-arrow"
                    href=""
                    id="navbarDropdownMenuAvatar"
                    role="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false">

              {% if user.is_authenticated %}
              <img
                    src="https://i.stack.imgur.com/dr5qp.jpg"
                    class="rounded-circle"
                    height="25"
                    alt="D user"
                    loading="lazy" />
              {% else %}
             <img
                     src="https://as2.ftcdn.net/v2/jpg/02/15/84/43/1000_F_215844325_ttX9YiIIyeaR7Ne6EaLLjMAmy4GvPC69.jpg"
                     class="rounded-circle"
                     height="25"
                     alt="D user"
                     loading="lazy" />
              {% endif %}
            </a>

            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuAvatar">
              {% if user.is_authenticated %}
              <li><a class="dropdown-item disabled" style="color:blue;">{{user.username}}</a></li>
              <li><a class="dropdown-item" href="{% url 'Store:logout' %}">Log out</a></li>
              <li><a class="dropdown-item" href="{% url 'Store:order' %}">order</a></li>
              {% else %}
              <li><a class="dropdown-item" href="{% url 'Store:login' %}">Sign In</a></li>
              <li><a class="dropdown-item" href="{% url 'Store:register' %}">Register</a></li>
              {% endif %}
            </ul>

          </div>
        </div>
      </div>
    </div>
  </nav>
</div>





{% block content %}
{% endblock %}
</body>
</body>
</html>