{% extends 'home.html' %}
{% block content %}

<section class="vh-100">
  <div class=" container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class=" col col-xl-10" style="">
        <div class="card" style="box-shadow: 0 8px 20px 0px #1f1f1f1a;border-radius: 10px;">
          <div class="row g-0">
            <div class="col-sm-2"></div>
              <div class="col-sm-8 align-items-center">
                <div class="card-body p-4 p-lg-5 text-black">

                  <form  method="post" >
                    {% csrf_token %}
                    <div class=" align-items-center mb-3 pb-1">
                      <h class="heading-name h1 fw-bold mb-0 ">School<h style="color:red">Store</h></h>
                    </div>

                    <h5 class="fw-normal mb-3 pb-3 text-muted" style="letter-spacing: 1px;">Sign into your account</h5>

                    <div class="form-outline mb-4">
                      <input type="text" id="form2Example17" class="form-control form-control-lg" name="username" placeholder="Username" />
                    </div>

                    <div class="form-outline mb-4">
                      <input type="password" id="form2Example27" class="form-control form-control-lg" name="password" placeholder="Password"/>
                    </div>

                    <div class="pt-1 mb-4">
                      <button class="col-sm-12 btn btn-dark btn-lg btn-block" type="submit">Login</button>
                    </div>

                    <p class="small text-center" style="color: #393f81;">Don't have an account?
                      <a href="{% url 'Store:register' %}" style="color: #393f81;text-decoration:none">Register here</a>
                    </p>
                    {% for msg1 in messages %}
                    <div class="alert alert-primary" role="alert">
                      {{msg1}}
                    </div>
                    {% endfor %}

                  </form>
                </div>
              </div>
            <div class="col-sm-2 col-lg-7 d-flex align-items-center"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}